<div class="master">
    <section class="compo-usuario-login">
        <h2>Login</h2>
        <form [formGroup]="formularioLog" (ngSubmit)="login()">
            <div class="control">
                <input type="email" id="email" name="email" placeholder="Email usuario" formControlName="email" value="usuario@ejemplo.com">
            </div>
            <div class="control">
                <input type="password" id="password" name="password" placeholder="Password" formControlName="password" value="123456">
            </div>
            <button [disabled]="formularioLog.invalid" class="btn">Ingresar</button>
        </form>
    </section>
</div>

