/* Estilo base del visor PDF */
pdf-viewer {
  display: block;
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  height: 100vh; /* Altura completa de la ventana */
  background-color: #f4f4f4; /* Fondo gris claro para contraste */
  border: none; /* Sin bordes */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Centrado del contenido del visor */
pdf-viewer .ng2-pdf-viewer-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
