
<body>
    <header>
        <div class="logo-digesto">
            <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="nombre-digesto"> Digesto </h4>
        </div>
        <nav>
            <ul class="menu">
            <li href="./compo-principal.component.html" >operaciones</li>
            <ul>
                <h6>Administrador</h6>
                    <li><a href="<app-compo-usuario-login></app-compo-usuario-login>">crear usuario</a></li>
                    <li><a href="">modificar usuario usuario</a></li>
                    <li><a href="">eliminar usuario</a></li>
                <h6>catalogador</h6>
                    <li><a href="/digesto-frontend/src/app/componentes/compo-documento/compo-documento.component.html">cargar documento</a></li>
                    <li><a href="">catalogar documento</a></li>
                    <li><a href="">eliminar catalogacion</a></li>
                    <li><a href="">ver lista de catalogados</a></li>
                    <li><a href="">ver lista de enviados</a></li>
                    <li><a href="">enviar a publicador</a></li>
                <h6>publicador</h6>
                    <li><a href="">publicar documento</a></li>
                    <li><a href="">eliminar publicacion</a></li>
                    <li><a href="">ver lista de pendientes</a></li>
                    <li><a href="">ver lista de publicados</a></li>
            </ul>
            <a href="" class="">login</a>
            <a href="" class="navlink" >busqueda avanzada</a>
            <a href="" class="navlink">documentos</a>
            <a href="" class="navlink">contactanos</a>
        </ul>
        </nav>
    </header>

    <section class= "flex-contanier">
        <div class = "caja1">
            <h5>nombre de documento:</h5>
            <h5>fecha de publicacion:</h5>
            <h5>descripcion:</h5>
        </div>
        <hr>
        <div class = "caja2">
            <h5>nombre de documento:</h5>
            <h5>fecha de publicacion:</h5>
            <h5>descripcion:</h5>
        </div>
        <HR>
        <div class = "caja3">
            <h5>   nombre de documento:</h5>
            <h5>fecha de publicacion:</h5>
            <h5>descripcion:</h5>
        </div>
        <hr>
        <div class = "caja4">
            <h5>nombre de documento:</h5>
            <h5>fecha de publicacion:</h5>
            <h5>descripcion:</h5>
        </div>
        <hr>
        <div class = "caja5">
            <h5>nombre de documento:</h5>
            <h5>fecha de publicacion:</h5>
            <h5>descripcion:</h5>
        </div>
        <hr>
        <div class = "caja6">
            <h5>nombre de documento:</h5>
            <h5>fecha de publicacion:</h5>
            <h5>descripcion:</h5>
        </div>
        <hr>
    </section>

    <footer>
        <div class="footer">
            <div class="pie">
                <p>
                    Digesto de la carrera de analista de sistema, unidad academica Rio Turbio, UNPA, Santa cruz
                </p>
            </div>

        </div>
    </footer>
</body>
